DEVICE={{ connection.name }}
TYPE=Bridge
{% if connection.ipv4.dhcp is defined %}
BOOTPROTO=dhcp
{% else %}
BOOTPROTO=none
{% if connection.ipv4.address is defined %}
IPADDR={{ connection.ipv4.address }}
NETMASK={{ connection.ipv4.netmask }}
{% endif %}
{% if connection.ipv4.gateway is defined %}
GATEWAY={{ connection.ipv4.gateway }}
{% endif %}
{% if connection.ipv4.dns is defined %}
DNS1={{ connection.ipv4.dns }}
{% endif %}
{% endif %}
ONBOOT=yes
NM_CONTROLLED=no
